@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Bleakwind Buffet</h1>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p class="welcome-paragraph">We at Bleakwind Buffet are proud to</p>
    <p class="welcome-paragraph">bring you authentic fantasy meals straight</p>
    <p class="welcome-paragraph">from the world of Skyrim. Shake the blood</p>
    <p class="welcome-paragraph">off your sword and sake your thirst with</p>
    <p class="welcome-paragraph">one of our old-fashioned sailor sodas.</p>
    <p class="welcome-paragraph">Hack into a Smokehouse Skeleton with your</p>
    <p class="welcome-paragraph">dagger. Or vanquish the the mighty Thalmor</p>
    <p class="welcome-paragraph">Triple Burger! You’ve had a hard adventure</p>
    <p class="welcome-paragraph">and earned your loot, so spend it with us!.</p>
</div>



<form id="menu-database">

    <div id="search">
        <input type="text" name="SearchTerms" value="@Model.SearchTerms" />
        <input type="submit" value="Search">
    </div>

    <div id="filters">

        <h4>Item Type</h4>
        @foreach (String item in BleakwindBuffet.Data.Menu.OrderItems)
        {
            <label>
                <input type="checkbox" name="OrderItems" value="@item" checked="@Model.OrderItems.Contains(item)" />
                @item
            </label>
        }

        <h4>Price</h4>
        <div>
            Between
            <input name="PriceMin" type="number" min="0" max="10" step="0.01" placeholder="min" value="@Model.PriceMin" />
            and
            <input name="PriceMax" type="number" min="0" max="10" step="0.01" placeholder="max" value="@Model.PriceMax" />
        </div>

        <h4>Calories</h4>
        <div>
            Between
            <input name="CaloriesMin" type="number" min="0" max="2000" step="1" placeholder="min" value="@Model.CaloriesMin" />
            and
            <input name="CaloriesMax" type="number" min="0" max="2000" step="1" placeholder="max" value="@Model.CaloriesMax" />
        </div>

    </div>

    <div id="results" class="flex-columns">
        <div>
            <h2 class="menu-item">Entrees</h2>
            @foreach (BleakwindBuffet.Data.IOrderItem item in Model.Items)
            {
                if (item is BleakwindBuffet.Data.Entrees.Entree entree)
                {
                    <div class="entree-name">
                        @entree.Name
                    </div>
                    <div>
                        @entree.Description
                    </div>
                    <div>
                        Calories: @entree.Calories
                    </div>
                    <div>
                        Price: $@entree.Price
                    </div>
                }
            }
        </div>

        <div>
            <h2 class="menu-item">Sides</h2>
            @foreach (BleakwindBuffet.Data.IOrderItem item in Model.Items)
            {
                @if (item is BleakwindBuffet.Data.Sides.Side side)
                {
                    <div class="side-name">
                        @side.Name
                    </div>
                    <div>
                        @side.Description
                    </div>
                    <div>
                        Calories: @side.Calories
                    </div>
                    <div>
                        Price: $@side.Price
                    </div>
                }
            }
        </div>

        <div>
            <h2 class="menu-item">Drinks</h2>
            @foreach (BleakwindBuffet.Data.IOrderItem item in Model.Items)
            {
                @if (item is BleakwindBuffet.Data.Drinks.Drink drink)
                {
                    <div class="drink-name">
                        @drink.Name
                    </div>
                    <div>
                        @drink.Description
                    </div>
                    <div>
                        Calories: @drink.Calories
                    </div>
                    <div>
                        Price: $@drink.Price
                    </div>
                }
            }
        </div>
        <div>
            <h2 class="menu-item">Combo</h2>
            <div>Any Entree, Side, and Drink can be combined to create a combo at a discount of $1!</div>
        </div>

        <div id>
            <h2 class="menu-item">Soda Flavors</h2>
            @foreach (BleakwindBuffet.Data.Enums.SodaFlavor flavor in
       (BleakwindBuffet.Data.Enums.SodaFlavor[])Enum.GetValues(typeof(BleakwindBuffet.Data.Enums.SodaFlavor)))
            {
                <div class="soda-flavor">@flavor.ToString()</div>
            }
        </div>
    </div>
    <div class="clearfix"></div>
</form>








    
